@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TaskEntitySingleRecordModel
@{
        
}
<label>Название задачи</label><br />
<h5>@Model.taskEntity.name</h5>
<br>
<label>Описание</label><br />
<h5 class="about">@Model.taskEntity.about</h5>
<a href="TaskObjectCreate?taskEntityIdInput=@Model.taskEntity.Id">
    <img src="/img/plus button.jpg" height="40px" width="40px" />
    </a>
<a asp-page="/SQLTask/SQLCreate" asp-page-handler="OnCreate" asp-route-id="@Model.taskEntity.Id">
    <img src="/img/sql.jpg" height="40px" width="40px" />
    </a>
<label>Объекты</label><br />
@foreach(var taskEntityObject in @Model.taskEntity.TaskObject){
    <div class="about" style="border: 2px solid @Utilities.Utilities.setColor(taskEntityObject.type);">
        <h5>@taskEntityObject.type: @taskEntityObject.name</h5>
        <h5>@taskEntityObject.about</h5>
        <a href="TaskEntitySingleRecord?id=@Model.taskEntity.Id&deleteTaskObjectById=@taskEntityObject.Id">
            <img src="/img/red minus button.png" height="40px" width="40px" />
            </a>
        <a href="TaskObjectCreate?id=@taskEntityObject.Id">
            <img src="/img/edit.png" height="40px" width="40px" />
            </a>
    </div>    
}
<br />
<label>SQL запросы</label>
<br />
@foreach(var sql in @Model.taskEntity.SQL){
    <div class="about" style="border: 2px solid #70058b;">
        <label>Название скрипта</label>
        <h5>@sql.name</h5>
        <label>Описание скрипта</label>
        <h5>@sql.about</h5>
        <label>Тело скрипта</label>
        <h5>@sql.sqlBody</h5>
        <a href="TaskEntitySingleRecord?id=@Model.taskEntity.Id&deleteTaskObjectById=@taskEntityObject.Id">
            <img src="/img/red minus button.png" height="40px" width="40px" />
            </a>
        <a href="TaskObjectCreate?id=@taskEntityObject.Id">
            <img src="/img/edit.png" height="40px" width="40px" />
            </a>
    </div> 
}