@page
@model TaskCreateModel
@{
        
}


@if(Model.Action.Equals("update")){
    @Model.taskEntity.name
    <label>Создание задачи</label><br />
    <form method="post">
    <p>
        <label>Задача</label><br />
        <input type="text" name="name" value="@Model.taskEntity.name" />
    </p> 
    <p>
        <label>Описание</label><br />
        <textarea type="text" name="about" value="@Model.taskEntity.about">@Model.taskEntity.about</textarea>
    </p>      

    <input type="hidden" name="ActionInsert" value="update"/>
    <input type="hidden" name="id" value="@Model.taskEntity.Id"/>
    <input type="submit" value="Отправить" />
    </form>
}else{
    <label>Обновление задачи</label><br />
    <form method="post">
    <p>
        <label>Задача</label><br />
        <input type="text" name="name" />
    </p> 
    <p>
        <label>Описание</label><br />
        <textarea class="inputAbout" type="text" name="about"></textarea>
    </p>      

    <input type="hidden" name="ActionInsert" value="insert"/>
    <input type="submit" value="Отправить" />
    </form>
}